@import "tailwindcss";

@font-face {
  font-family: "M PLUS Rounded 1c";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/m-plus-rounded-1c-400.woff2") format("woff2");
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/m-plus-rounded-1c-700.woff2") format("woff2");
}

@theme {
  --font-cal: "M PLUS Rounded 1c", sans-serif;
  --font-weight-bold: 700;
}
